			body {
				font-family: 'Bowlby One SC', cursive;
				font-size: 13px;
				border-radius: 100px;
			}
			
			.bio-container {
				width: 400px;
				background-color: #fbd6db;
				border: 10px solid white;
				border-radius: 60px;
				margin-left: auto;
				margin-right: auto;
				margin-top: 25px;
				height: 1525px;
				background-color: pink;
			}

			.Biography {
				background-image: url("background.gif");
				background-position: auto;
				background-repeat: no-repeat;
				background-size:cover;
				background-color: pink;
			}

			.Members {
				background-image: url("background.gif");
				background-position: auto;
				background-repeat: no-repeat;
				background-size:cover;
				background-color: pink;
			}

			.Gallery {
				background-image: url("background.gif");
				background-position: auto;
				background-repeat: no-repeat;
				background-size:cover;
				background-color: pink;
			}

			.tables {
			background-color:      #459DA1;	
			background-image:      url("crowd.gif");
			background-repeat:     no-repeat;
			background-size:       cover;
			background-attachment: fixed;
			background-position:   center;
		}

			.Personal-Connections {
			background-image: url("ateezconcert.jpg");
			background-size:cover;
			background-position: center;
			background-repeat: no-repeat;
			background-color: white;
			}
			
			.content {
				padding-left: 30px;
				padding-right: 30px;
				text-decoration: none;
				color: blue;
				text-shadow: 2px 3px yellow;
				overflow-y: auto;
			}
			
			.navbar-gallery {
				width: 676px;
				border-radius: 100px;
				margin: auto;
			}

			.navbar-tables {
				width: 678px;
				border-radius: 100px;
				margin: 100px;
			}
			
			.navbar-pc {
				width: 526px;
				border-radius: 100px;
				margin: auto;
				background-image: url("ateezconcert.jpg");
				background-position: auto;
				background-repeat: no-repeat;
				background-size:cover;
			}

			.pc-h1 {
				color: white;
				text-align: center;
				text-shadow: 4px 4px blue;
			}
			
			.navbar-bio {
				width: 651px;
				border-radius: 100px;
				margin: auto;
			}

			.navbar-awards {
				width: 678px;
				border-radius: 100px;
				margin: auto;
			}
			
			.navbar-members {
				width: 665px;
				border-radius: 100px;
				margin: auto;
			}

			* {box-sizing:border-box}

			/* Slideshow container */
			.slideshow-container {
			  max-width: 1000px;
			  position: relative;
			  margin: auto;
			}

			/* Hide the images by default */
			.mySlides {
			  display: none;
			}

			/* Next & previous buttons */
			.prev {
			  
			  cursor: pointer;
			  position: absolute;
			  top: 50%;
			  width: auto;
			  margin-top: 90px;
			  margin-left: 0px;
			  padding: 16px;
			  color: white;
			  font-weight: bold;
			  font-size: 18px;
			  text-shadow: 2px 3px red;
			  transition: 0.6s ease;
			  border-radius: 0 3px 3px 0;
			  user-select: none;
			}

			/* Position the "next button" to the right */
			.next {
			  cursor: pointer;
			  position: absolute;
			  top: 50%;
			  width: auto;
			  margin-top: 90px;
			  margin-left: 480px;
			  padding: 16px;
			  color: white;
			  font-weight: bold;
			  font-size: 18px;
			  text-shadow: 2px 3px red;
			  transition: 0.6s ease;
			  border-radius: 0 3px 3px 0;
			  user-select: none;
			}

			/* On hover, add a black background color with a little bit see-through */
			.prev:hover, .next:hover {
			  background-color: rgba(0,0,0,0.8);
			}

			/* Caption text */
			.text {
			  color: black;
			  font-size: 18px;
			  padding: 8px 12px;
			  bottom: 8px;
			  width: 100%;
			  text-align: center;
			}

			/* Number text (1/3 etc) */
			.numbertext {
			  color: #f2f2f2;
			  text-shadow: 2px 3px red;
			  font-size: 12px;
			  padding: 8px 12px;
			  position: absolute;
			  top: 0;
			}

			/* The dots/bullets/indicators */
			.dot {
			  cursor: pointer;
			  height: 10px;
			  width: 10px;
			  margin: 0 2px;
			  background-color: #bbb;
			  border-radius: 50%;
			  display: inline-block;
			  transition: background-color 0.6s ease;
			}

			.active, .dot:hover {
			  background-color: #717171;
			}

			/* Fading animation */
			.fade {
			  -webkit-animation-name: fade;
			  -webkit-animation-duration: 1.5s;
			  animation-name: fade;
			  animation-duration: 1.5s;
			}

			@-webkit-keyframes fade {
			  from {opacity: .4}
			  to {opacity: 1}
			}

			@keyframes fade {
			  from {opacity: .4}
			  to {opacity: 1}
			}

			p {	
				line-height: 1.5em;
				font-size: 16pt;
				text-align: center;
				color: black;
				text-shadow: 4px 4px yellow;
			}
			
			img {
				float: left;
				margin-right: 20px;
				margin-bottom: 5px;
			}
			
			ul {
				 list-style-type: none;
				 margin: 0;
				 padding: 0;
				 overflow: hidden;
				 background-color: #333;
				 position: sticky;
				 border-radius: 100px;
				}

			li {
				float: left;
				font-size: 18px;
				font-style: italic;
				}

			li a {
				  display: block;
				  color: white;
				  text-shadow: 2px 3px red;
				  padding: 20px 20px;
				  text-decoration: none;
				  border-radius: 100px;
				}

			li a:hover {
				  background-color: #111;				  
				}

			.bio-h1 {
				color: black;
				text-shadow: 4px 4px red;
				text-align: center;
			}

			.bio-p {
				color: blue;
				text-shadow: 4px 4px yellow;
				text-align: center;
				font-size: 20px;
			}

			.albums {
				color: black;
				text-shadow: 4px 4px red;
				text-align: center;
			}

			.members-h1 {
				color: black;
				text-shadow: 4px 4px red;
				text-align: center;
			}

			.gallery-h1 {
				color: black;
				text-shadow: 4px 4px red;
				text-align: center;
			}

			.members-container {
				width: 600px;
				background-color: #fbd6db;
				border: 10px solid white;
				border-radius: 60px;
				margin-left: auto;
				margin-right: auto;
				margin-top: 25px;
				height: 1425px;
			}
			
			.members {
				text-align: center;
				color: blue;
				text-shadow: 4px 4px yellow
			}

			.pc {
				color: blue;
				text-shadow: 3px 3px yellow;
				font-size: 22px;
				margin-right: 120px;
				margin-left: 120px;
				}

			.position {
				font-weight: bold;
			}

			.name {
				font-style: italic;
				font-weight: bold;
			}

			.hobbies {
				font-weight: bold;
			}

			.facts {
				font-weight: bold;
			}

			.gallery-container {
				width: 600px;
				background-color: #fbd6db;
				border: 10px solid white;
				border-radius: 60px;
				margin-left: auto;
				margin-right: auto;
				margin-top: 25px;
				height: 2725px;
			}

			table, th, td {
			border-bottom: 3px solid #DDDDDD;
			border-left: 3px solid #DDDDDD;
			text-align: center;
		}

		table {
			border-collapse: collapse;
			width: 400px;
			background-color: black;
			font-family: 'Bowlby One SC', cursive;
		}

		td:hover {
			background-color: black;
			color: white;
		}

		th, td {
			padding: 10px;
			color: white;
			font-size: 17px;
		}
		
		th {
			background-color: #1201F9;
			color: white;
			font-family: 
		}

		.awards {
			background-color: white;	
			padding: 		  15px;
			position:         absolute;
			right:            500px;
			top:              150px;
			width:            500 px;	
			box-shadow:		  -10px 20px 30px pink;
			border-radius: 20px;
		}

	

	
